<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="createAccount.css">
</head>

<div class="navContainer">
    <header class="createUserHeader">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        <li><a>Home</a></li>
        <li><a>Courses</a></li>
        <li><a>Labs</a></li>
        <li><a>People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a>Create User</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>
    <div class="body-content">
        <div class="container">
            <p class=createUserHeader>Create Account</p>

            <div class="containerbox">

                <table>
                    <tr>
                        <td><input placeholder="ID Number" class='newAccountInformation'></td>
                        <td><input placeholder="Full Name" class=newAccountInformation></td>
                    </tr>
                    <tr>
                        <td><input placeholder="Password" class=newAccountInformation></td>
                        <td><input placeholder="Email" class=newAccountInformation></td>
                    </tr>
                    <tr>
                        <td><input placeholder="Address" class=newAccountInformation></td>
                        <td><input placeholder="Phone Number" class=newAccountInformation></td>
                    </tr>
                    <tr>
                        <th>Account Permission</th>
                        <td>
                            <input type="radio" name="permission">
                            <label>TA</label>
                            <input type="radio" name="permission">
                            <label>Instructor</label>
                            <input type="radio" name="permission">
                            <label>Admin</label>
                        </td>
                    </tr>

                </table>
                <div class="submit-button">
                    <button type="submit">Create Account</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>