html {
    background: rgb(145, 178, 199);
}

.header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

 .container{
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     width: 1000px;
     height: 300px;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border: 2px solid White;
     border-radius: 15px;
     background: white;
     text-align: center;

 }
.newCourseContainer {
    display: grid;
}

.submit-button {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 100px;
}

.messageSuccess {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: green;
}

.messageError {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: red;
}

.submit-button button {

    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid;
    border-radius: 15px;
    color: white;
    background: #91B2C7;
    width: 500px;
    cursor: pointer;
    margin-left: 220px;
    margin-top:25px;
}

.textbox{
    align-items: center;
    width: 75%;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 20px;
    outline-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 2px solid #e1dede69;
    background: #e1dede69;
    color: grey;
}

.dropdownMenu{
    align-content: center;
    width: 75%;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    outline-width: 20px;
    outline-color: #333333;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color: grey;
}

.dropdownMenuTA {
    width: 247%;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    border-radius: 20px;
    outline-width: 20px;
    outline-color: #333333;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color: grey;
    margin-left: 10px;

}

.dropdownMenuCourse {
    width: 480%;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    border-radius: 20px;
    outline-width: 20px;
    outline-color: #333333;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color: grey;
}

navContainer {
    position: center;
    height: auto;
    width: 100%;
}

.navigation {
    list-style-type: none;
    background-color: #333;
    position: sticky;
    width: 100%;
    overflow: auto;
}

.navigation li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
}

.navigation li:hover a:not(.active) {
    background-color: #D3D3D3;
    color: #000;
}
