html {
    background: rgb(145, 178, 199);
}

.header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.subHeader {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 325px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid White;
    border-radius: 15px;
    background: white;
    text-align: center;
}

.containerbox {
    display: grid;
    gap: 50px;
    text-align: left;
}
.th, td{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.items{
    width: 50px;
}

.messageSuccess {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: green;
    margin-top: 10px;
}

.messageError {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: red;
    margin-top: 10px;
}

navContainer {
    position: center;
    height: auto;
    width: 100%;
}

.navigation {
    list-style-type: none;
    background-color: #333;
    position: sticky;
    width: 100%;
    overflow: auto;
}

.navigation li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
}

.navigation li:hover a:not(.active) {
    background-color: #D3D3D3;
    color: #000;
}
