
html {
    background: rgb(145, 178, 199);
}

.body-content {
    padding-top: 14.25vh;
}

.container {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid White;
    border-radius: 15px;
    background: white;
}

h2 {
    color: rgb(87, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
}

.login-item {
    margin: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.login-item label {
    display: block;
    padding: 2px;
    font-size: 20px;
    width: 100px;
}

.login-item input {
    width: 320px;
    height: 35px;
    border: 2px solid #e1dede69;
    border-radius: 20px;
    background: #e1dede69;
    color: grey;
    text-align: center;
}

.login-button {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 0;
}

.login-button button {
    margin: auto;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid;
    border-radius: 15px;
    color: white;
    background: #91B2C7;
    width: 280px;
    cursor: pointer;
}
.message{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: red;
}

