{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/editCourse.css" %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>


<body>
<div class="container">
    <p class="header">Assigned Users {{ course }}</p>
    <div class="containerbox">
        <table>

            <tr>
                <td><input placeholder="Change Name: {{ course.name }}" class='newAccountInformation'></td>
                <td><input placeholder="Change Instructor: {{ course.owner }}" class=newAccountInformation></td>
            </tr>
        </table>
    </div>
    <div class="submit-button">
        <button type="submit">Save Changes</button>
    </div>
</div>
</body>
</html>
