{% load static %}
{% if sessionUser.username == "" %}
        <meta http-equiv="Refresh" content="0; url='/'" />
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/editCourse.css" %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>


<body>
<div class="container">
    <p class="header">Assigned Users {{ course }}</p>
    <div class="containerbox">
        <table>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
            <tr>
                {% for i in users %}
                    <td><input name="username" value={{ i.username }} placeholder="{{ i.username }}"></td>
                    <td><input name="name" placeholder="{{ i.name }}"></td>
                    <td><input name="role" placeholder="{{ i.role }}"></td>
                    </td>
                         <td>{{ i.username }}</td>
                         <td>{{ i.name }}</td>
                         <td>{{ i.role }}</td>
                    <td>
                        <button>Delete</button>
                    </td>
            </tr>
                {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
