{% load static %}
{% if sessionUser.username == "" %}
    <meta http-equiv="Refresh" content="0; url='/'"/>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>

<body>
<div class="container">
    <p class=header>Courses</p>
    <div class="containerbox">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Term</th>
                <th>Year</th>
            </tr>
            <tr>

                {% for i in courses %}
                    <td>{{ i.name }}</td>
                    <td>{{ i.term }}</td>
                    <td>{{ i.year }}</td>
                    <td>
                        {% if sessionUser.role == "Admin" %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <button name="assignedUser" value="{{ i.name }}">Assigned Users</button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button name="thisCourseSections" value="{{ i.name }}">View Sections</button>
                        </form>
                    </td>
                    <td>
                        {% if sessionUser.role == "Admin" %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <button name="deleteCourse" value="{{ i.name }}">Delete</button>
                            </form>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    <div class="messageSuccess">
        {{ success }}
    </div>
    {% if sessionUser.role == "Admin" %}
        <div class="submit-button">
            <a href="../createCourses/">
                <button name="createCourseSubmit">Create Course</button>
            </a>
        </div>
    {% endif %}
</div>
</div>
</body>
</html>
