{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\courses.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        <li><a>Home</a></li>
        <li><a href="../courses/">Courses</a></li>
        <li><a>Labs</a></li>
        <li><a>People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a>Create User</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>
<form action="" method="post">
    {%  csrf_token %}
<p class="header">Add a new course</p>
<div class="newCourseContainer">
    <table>
        <tr>
            <td><input name="name" class="course-textbox" placeholder="Course Name"></td>
            <td>
                <select class="dropdownMenu" name="userSelect">
                    <option value="" disabled selected>Select an instructor</option>
                        {% for entry in instructors %}
                            <option value= {{ entry.name }}>{{ entry.name }}</option>
                        {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input class="course-textbox" placeholder="Meeting Times"></td>
            <td><input class="course-textbox" placeholder="Semester"></td>
        </tr>
        <tr>
            <td><input class="course-textbox" placeholder="Course Number">
            </td>
            <td><input class="course-textbox" placeholder="Description">
        </tr>
    </table>

    <div class="submit-button">
        <button type="submit">Create Account</button>
    </div>
</div>
<p class="header">Add a TA to a course</p>
<div class="assignTAContainer">
    <table>
        <tr>
            <td>
                <select required class="dropdownMenuTA">
                    <option value="" disabled selected>Select a TA</option>
                </select>
            </td>
            <td>
                <select required class="dropdownMenuCourse">
                    <option value="" disabled selected>Select Course</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="submit-button">
        <button type="submit">Assign TA</button>
    </div>
</div>

</form>
</body>
</html>
