{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\createAccount.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
            <li><a href="../createAccount/">Create User</a></li>
            <li><a href="../createCourses/">Create Courses</a></li>
        {% endif %}
        <li><a href="../home/">Home</a></li>
        <li><a>Labs</a></li>
        <li><a href="../users/">People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>
<form action="" method="post">
    {%  csrf_token %}
<div class="body-content">
    <div class="container">
        <p class=createUserHeader>Create Account</p>

        <div class="containerbox">

            <table>
                <tr>
                    <td><input placeholder="Username" name="username" class='newAccountInformation'></td>
                    <td><input placeholder="Password" name="password" class=newAccountInformation></td>
                </tr>
                <tr>
                    <td><input placeholder="Name" name="name" class=newAccountInformation></td>
                    <td><input placeholder="Email" name="email" class=newAccountInformation></td>
                </tr>
                <tr>
                    <td><input placeholder="Address" name="address" class=newAccountInformation></td>
                    <td><input placeholder="Phone Number" name="phone" class=newAccountInformation></td>
                </tr>
                <tr>
                    <th>Account Permission</th>
                    <td>
                        <input type="radio" name="button1" value=0>
                        <label>TA</label>
                        <input type="radio" name="button1" value=1>
                        <label>Instructor</label>
                        <input type="radio" name="button1" value=2>
                        <label>Admin</label>
                    </td>
                </tr>

            </table>
            <div class="submit-button">
                <button name="createAccountSubmit">Create Account</button>
            </div>

        </div>
    </div>
</div>
</form>
</body>
</html>
