{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/createCourse.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>

<body>
<form action="" method="post">
    {% csrf_token %}

<div class="container">
<p class="header">Add a new course</p>
    <div class="newCourseContainer">

        <table>
            <tr>
                <td><input name="name" class="textbox" placeholder="Course Name"></td>
            </tr>
            <tr>
                <td>
                    <select class="dropdownMenu" name="userSelect">
                        <option value="" disabled selected>Select an instructor</option>
                        {% for entry in instructors %}
                            <option value= {{ entry.name }}>{{ entry.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

        </table>
    </div>
        <div class="submit-button">
            <button type="submit">Submit</button>
        </div>

</div>
</form>
</body>
</html>
