<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Section</title>
    <link rel="stylesheet" type="text/css" href="../TAScheduler/static/css/editUser.css">
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="../home/">Home</a></li>
        <li><a href="../courses/">Courses</a></li>
        <li><a href="../users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>


<body>
<div class="container">
    <p class=subHeader>Edit Section: {{ section.Class.name }} {{ section.sectionType }} {{ section.sectionNumber }}</p>
    <table>

        <tr>
            <td><input placeholder="Change Class: {{ section.Class }}" class='newAccountInformation'></td>
        </tr>
        <tr>
            <td><input placeholder="Change TA: {{ section.TA }}" class=newAccountInformation></td>
        </tr>
        <tr>
            <td><input placeholder="Change Section Number: {{ section.sectionNumber }}" class=newAccountInformation></td>
        </tr>
        <tr>
            <td><input placeholder="Change Type: {{ section.sectionType }}" class=newAccountInformation></td>
        </tr>
        <tr>
            <td><input placeholder="Change Schedule: {{ section.schedule }}" class=newAccountInformation></td>
        </tr>
        <tr>
            <td><input placeholder="Change Start Time: {{ section.startTime }}" class=newAccountInformation></td>
        </tr>
        <tr>
            <td><input placeholder="Change End Time: {{ section.endTime }}" class=newAccountInformation></td>
        </tr>
    </table>
    <div class="submit-button">
        <button type="submit">Save Changes</button>
    </div>
</div>
</body>
</html>
