<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\home.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
            <li><a href="../createAccount/">Create User</a></li>
            <li><a href="../createCourses/">Create Courses</a></li>
        {% endif %}
        <li><a href="../home/">Home</a></li>
        <li><a>Labs</a></li>
        <li><a href="../users/">People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>

</div>
<h1 class="subHeader"> User's Home</h1>
<div>
    <h1 class="header">Your Courses</h1>
    <div class="container">

    </div>

</div>
</body>
</html>
