<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../TAScheduler/static/css/home.css">
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        <li><a>Home</a></li>
        <li><a href="../courses/">Courses</a></li>
        <li><a>Labs</a></li>
        <li><a>People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a>Create User</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>

</div>
<h1 class="subHeader"> User's Home</h1>
<div>
    <h1 class="header">Your Courses</h1>
    <div class="container">

    </div>

</div>
</body>
</html>
