<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\home.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>

<body>

</div>
<h1 class="subHeader"> {{  thisUser }}'s Home</h1>
<div>
    <table>
            My info:
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
            <tr>
                <td>{{ thisUser.username }}</td>
                <td>{{ thisUser.password }}</td>
                <td>{{ thisUser.name }}</td>
                <td>{{ thisUser.email }}</td>
                <td>{{ thisUser.address }}</td>
                <td>{{ thisUser.phone }}</td>
                <td>{{ thisUser.role }}</td>
            </tr>
            <form action="" method="post">
                {% csrf_token %}
            <button name="edit" value="edit">Edit</button>
            </form>
        </table>
    <h1 class="header">Your Courses</h1>
    <table>
            <tr>
                <th>Course Name</th>
                <th>Instructor</th>
            </tr>
            <tr>

                {% for i in courses %}
                    <td>{{ i.name }}</td>
                    <td>{{ i.owner }}</td>

                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button name="thisCourseEdit" value="{{ i.name }}">Edit</button>
                        </form>
                    </td>

                    <td>
                        <button>Delete</button>
                    </td>
                    <td>

                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="thisCourseSections" value="{{ i.name }}">View Sections</button>
                    </form>

                    </td>
                    </tr>
                {% endfor %}
        </table>
        <table>
            <tr>
                <th>TA</th>
                <th>Section Number</th>
                <th>Section Type</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            <tr>

                {% for i in sections %}
                    <td>{{ i.TA }}</td>
                    <td>{{ i.sectionNumber }}</td>
                    <td>{{ i.sectionType }}</td>
                    <td>{{ i.startTime }}</td>
                    <td>{{ i.endTime }}</td>

                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button name="thisSection" value="{{ i.sectionNumber }}">Edit</button>
                        </form>
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                    </tr>
                {% endfor %}
        </table>
    <div class="container">

    </div>

</div>
</body>
</html>
