{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\users.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="../home/">Home</a></li>
        <li><a href="../courses/">Courses</a></li>
        <li><a href="../users/">Users</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>
<div class="container">
    <p class=header>Users</p>
    <div class="containerbox">
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Role</th>
            </tr>
            <tr>

                {% for i in users %}
                    <td>{{ i.username }}</td>
                    <td>{{ i.password }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.role }}</td>
                    <td>
                        <a href="../editUser/"><button>Edit</button></a>
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                    </tr>
                {% endfor %}
        </table>

    <div class="submit-button">
        <a href="../createAccount/"><button name="createAccountSubmit">Create Account</button></a>
            </div>

    </div>
</div>
</div>
</body>
</html>
