{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\users.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        <li><a>Home</a></li>
        <li><a href="../createCourses/">Create Courses</a></li>
        <li><a>Labs</a></li>
        <li><a href="../users/">People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a href="../createAccount/">Create User</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>
 <div class="container">
        <p class=header>Users</p>
        <div class="containerbox">
            <table>
                {% for entry in users %}
                    <p><tr> Username:{{ entry.username }} </tr>
                    <tr> Password:{{ entry.password }} </tr>
                    <tr> Name:{{ entry.name }} </tr>
                    <tr> Email:{{ entry.email }} </tr>
                    <tr> Address:{{ entry.address }} </tr>
                    <tr> Phone:{{ entry.phone }} </tr>
                    <tr> Role:{{ entry.role }} </tr><br></p>
                {% endfor %}
            </table>


        </div>
    </div>
</div>
</body>
</html>
