<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\users.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        <li><a href ="/login/">Home</a></li>
        <li><a>Courses</a></li>
        <li><a>Labs</a></li>
        <li><a>People</a></li>
        <li><a>View TA Assignments</a></li>
        <li><a>Create User</a></li>
        <li><a>Edit User</a></li>
        <li><a>Logout</a></li>
    </div>
</div>

<body>
 <div class="container">
        <p class=header>Users</p>
        <div class="containerbox">
            <table>

            </table>


        </div>
    </div>
</div>
</body>
</html>