{% load static %}
{% if sessionUser.username == "" %}
    <meta http-equiv="Refresh" content="0; url='/'"/>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/userAssignments.css' %}"/>
</head>

<div class="navContainer">
    <header class="header">
        <h1><a>TA Scheduler Management System</a></h1>
    </header>
    <div class="navigation">
        {% if sessionUser == "Admin" %}
        {% endif %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/">Logout</a></li>
    </div>
</div>

<body>
<div class="container">
    <p class=header>{{ viewingUser.username }}'s Assigned Courses</p>
    <div class="containerbox">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Term</th>
                <th>Year</th>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <p class=header>{{ viewingUser.username }}'s Assigned Sections</p>
    <div class="containerbox">
        <table>
            <tr>
                <th>Course</th>
                <th>Section Type</th>
                <th>Section Number</th>
                <th>Assigned User</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            {% for i in sections %}
                <tr>
                    <td>{{ i.Class }}</td>
                    <td>{{ i.sectionType }}</td>
                    <td>{{ i.sectionNumber }}</td>
                    <td>{{ i.assignedUser }}</td>
                    <td>{{ i.startTime }}</td>
                    <td>{{ i.endTime }}</td>
                    <td>{{ i.monday }}</td>
                    <td>{{ i.tuesday }}</td>
                    <td>{{ i.wednesday }}</td>
                    <td>{{ i.thursday }}</td>
                    <td>{{ i.friday }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
