<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="loginPage.css">
</head>

<body>
    <div class="body-content">
        <div class="container">
            <h2>Login</h2>
            <div class="login-form">
                    <div class="login-item">
                        <input type="text" name="userName" id="userName" placeholder="Username or Email">
                    </div>

                    <div class="login-item">
                        <input type="password" name="passWord" id="passWord" placeholder="Password">
                    </div>

                    <div class="login-button">
                        <button type="submit">Login</button>
                    </div>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>